<html ng-app="app">
<head>
<script src="angular.min.js"></script>
<script src="angular-animate.js"></script>
<script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
<!-- <script src="dialog2.js"></script> -->
<link href="bootstrap.min.css" rel="stylesheet">
<script>
app = angular.module('app', ['ui.bootstrap']);

app.controller('MyController', function($scope, $uibModal, $log) {
	  $scope.chkbxNoIncome = false;
	  
	  $scope.customers = [
	                      {name: 'Ricky',details: 'Some Details for Ricky',},
			              	{name: 'Dicky',details: 'Some Dicky Details',}];

	  $scope.open = function (_customer) 
		{ var modalInstance = $uibModal.open({controller: "ModalInstanceCtrl",templateUrl: 'myModalContent.html',
			resolve:{customer: function(){return _customer;}
	        			}});};
			
	  $scope.clearInputFields = function() {
	    if ($scope.chkbxNoIncome) {
	      var modalInstance = $uibModal.open({templateUrl: 'noIncomeMessage.html',controller: 'ModalInstanceCtrl'});
	    }};

	});

app.controller('ModalInstanceCtrl', function($scope, $uibModalInstance,customer) {
	  $scope.ok = function() {
	    $uibModalInstance.close();
	  };
	  $scope.customer = customer;
	  $scope.cancel = function() {
	    $uibModalInstance.dismiss('cancel');
	  };
	});

</script>
</head>
<body>
<div ng-controller="MyController">
	<script type="text/ng-template" id="noIncomeMessage.html">
		<div class="modal-header">
			<h3 class="modal-title">About Me</h3>
		</div>

		<div class="modal-body">
        <h1>I'm Dhaval Shah</span></h1>
        <h4>SharePoint and Dot Net Consultant</h4>
        <a href="http://www.dhavalcodes.com" target="blank">http://www.dhavalcodes.com</a>
      </div>

	<div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
	</script>
	
	<input type="checkbox" id="chkNoIncome" ng-model="chkbxNoIncome" ng-change="clearInputFields()" />
	<span> Check me to know more about me</span>
</div>
<div ng-controller="MyController">
      <div ng-repeat="customer in customers">
         <a href="#" ng-click="open(customer)">{{ customer.name }} -- {{ customer.details }}</a> <br />
         <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header"> <h3>The Customer Name is: {{ customer.name }}</h3> </div>
            <div class="modal-body"> This is where the Customer Details Goes: {{ customer.details }}</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      		</div>
         </script>
      </div>
   </div>
</body>
	
</html>